*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.3;
  position: relative;
  background-color: white;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

/**
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

@font-face {
  font-family: "futura-bold";
  src: url("../../fonts/Futura-Bold.otf");
}

@font-face {
  font-family: "futura-medium";
  src: url("../../fonts/FuturaBT-Book.otf");
}

@font-face {
  font-family: "futura-condensed";
  src: url("../../fonts/Futura-CondensedLight.otf");
}

.biggest {
  font-size: calc( 20px + (49 - 20) * ((100vw - 300px) / (1900 - 700))) !important;
  letter-spacing: 1.1px;
  line-height: 135%;
}

.big {
  font-size: calc( 20px + (40 - 20) * ((100vw - 300px) / (1900 - 700))) !important;
}

.regular {
  font-size: calc( 15px + (21 - 15) * ((100vw - 300px) / (1900 - 700))) !important;
}

.medium {
  font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1900 - 700))) !important;
}

.small {
  font-size: calc( 12px + (18 - 12) * ((100vw - 300px) / (1900 - 700))) !important;
}

.futura-bold-font {
  font-family: "futura-bold";
}

.futura-medium-font {
  font-family: "futura-medium";
}

.futura-condensed-font {
  font-family: "futura-condensed";
}

.futura-new-medium {
  font-family: "futura-new-medium";
}

.hero__container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.hero .hero_picture {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  z-index: 20;
}

.hero .hero_picture .carousel_container {
  width: 100%;
  margin: auto;
  height: 100%;
}

.hero .hero_picture .carousel_container .carousel_slide {
  width: 100%;
  height: 100%;
}

.hero .hero_picture .carousel_container .carousel_slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .hero_about {
  width: 100%;
  width: 100%;
  height: 100%;
  background: no-repeat url("/../../pictures/background.png");
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .hero_about__container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 0.4fr;
      grid-template-rows: 1fr 1fr 0.4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero_about .home_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5rem;
}

.hero .hero_about .home_address__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero_about .home_address .heading {
  width: 100%;
}

.hero .hero_about .home_address .paragraph {
  opacity: 40%;
  margin-top: 1.5vw;
}

.hero .hero_about .home_address .paragraph p {
  width: 67%;
}

.hero .hero_about .home_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.hero .hero_about .home_button__container {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hero .hero_about .home_button__container a {
  color: #ffff;
  width: 35rem;
  height: 100%;
  background: #ffa800;
  -webkit-box-shadow: 0px -16px 48px rgba(255, 168, 0, 0.36);
          box-shadow: 0px -16px 48px rgba(255, 168, 0, 0.36);
  border-radius: 14px 14px 0px 0px;
  padding: 3rem;
  display: block;
  text-align: center;
  text-decoration: none;
}

.hero .home_carusel {
  overflow: hidden;
  z-index: 5;
  position: relative;
  height: 100%;
}

.hero .home_carusel__container {
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
  z-index: 3;
  padding: 1vw 1vw 2.5vw 0vw;
  overflow: hidden;
  width: calc(45% * 6);
}

.hero .home_carusel__container .carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.hero .home_carusel__container .carusel div {
  position: relative;
  margin-right: 2rem;
  background-color: white;
  border-radius: 14px;
  height: 12vw;
  width: 17vw;
}

.hero .home_carusel__container .carusel div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  border-radius: 10px;
  padding: 0.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .home_carusel .blur {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  opacity: 0.5;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  opacity: 0.3;
  z-index: -1;
}

.hero .home_carusel .about_room {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  height: 100%;
  position: relative;
}

.hero .home_carusel .about_room .container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 25px 60px -20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 25px 60px -20px rgba(0, 0, 0, 0.2);
  width: 45%;
  border-radius: 5px;
  height: 13rem;
  position: absolute;
  left: 13.5vw;
  top: -4vw;
}

.hero .home_carusel .about_room .container .paragraph .display_none {
  display: none;
}

.hero .home_carusel .about_room .container .paragraph .display_block {
  display: block !important;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.hero .home_carusel .about_room .container .paragraph ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.hero .home_carusel .about_room .container .paragraph ul li {
  list-style-type: none;
  height: 100%;
  margin-right: 1vw;
}

.hero .home_carusel .about_room .container .prev img,
.hero .home_carusel .about_room .container .next img {
  cursor: pointer;
  width: 3.5rem;
}

.hero .home_carusel .about_room .container .next,
.hero .home_carusel .about_room .container .prev {
  cursor: pointer;
  margin-left: -3vw;
  z-index: 9;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.after-clicked {
  -webkit-transform: translateX(-50%) scaleX(1) scaleY(0.9);
          transform: translateX(-50%) scaleX(1) scaleY(0.9);
  -webkit-transition: 0.8s all ease;
  transition: 0.8s all ease;
  z-index: 20;
}

.remode_nav {
  display: none !important;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

@media only screen and (max-width: 1500px) {
  .about_room .container {
    width: 40rem !important;
    left: initial !important;
  }
  .hero .hero_about .home_address__container {
    width: 80%;
  }
}

@media only screen and (max-width: 950px) {
  .navigation {
    padding: 0 4vw !important;
  }
  .navigation .navigation__logo__property {
    width: 70% !important;
  }
  .navigation__menu {
    width: 55% !important;
  }
  .hero__container {
    height: initial;
    -ms-grid-columns: initial;
        grid-template-columns: initial;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .hero .hero_picture {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .hero .hero_about__container {
    -ms-grid-rows: 1fr 1fr 0.8fr;
        grid-template-rows: 1fr 1fr 0.8fr;
  }
  .hero .hero_about .home_button {
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
    height: initial;
  }
  .hero .hero_about .home_button a {
    width: 33rem;
    padding: 2.5rem;
  }
  .hero .hero_about .home_address {
    margin: initial;
    padding: 0 4vw;
  }
  .hero .hero_about .home_address__container {
    width: 100%;
    margin: initial;
  }
  .hero .hero_about .home_address .paragraph {
    width: 100%;
  }
  .hero .hero_about .home_address .paragraph p {
    width: 82%;
  }
  .hero .home_carusel {
    overflow: hidden;
    width: initial;
    height: 100%;
  }
  .hero .home_carusel .about_room .container {
    width: 100%;
    top: -11rem;
    left: initial;
  }
  .hero .home_carusel__container {
    -webkit-transform: translateX(-17%);
            transform: translateX(-17%);
    top: -29vw;
    padding: 2rem 2rem 6rem 0;
  }
  .hero .home_carusel__container .carusel {
    height: 100%;
  }
  .hero .home_carusel__container .carusel div {
    height: 34vw;
    width: 44vw;
  }
}

.navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 9rem;
  padding: 0 2.3vw;
  z-index: 99;
  position: fixed;
  top: 0;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.navigation__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo {
  display: inline-block;
}

.navigation__logo__property {
  width: 90%;
  height: 100%;
}

.navigation .logo_small {
  display: none;
}

.navigation__menu {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navigation__menu__list {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__menu__list__items {
  cursor: pointer;
}

.navigation__menu__list__items a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #ffff;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__menu__list__items a:hover {
  color: #151f28bd;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navigation .mobile_nav {
  display: none;
}

.navigation .new-opacity {
  display: none;
}

.navigation .hamburger {
  display: none;
}

.nav-scrolled {
  background-color: white;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  -webkit-box-shadow: 0px 20px 60px -24px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 20px 60px -24px rgba(0, 0, 0, 0.3);
}

.nav-scrolled a {
  color: black;
}

@media only screen and (max-width: 750px) {
  .navigation__menu {
    display: none;
  }
  .hamburger {
    display: block !important;
    width: 4rem;
    height: 100%;
  }
  .hamburger svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .active-burger svg path {
    stroke: #fdaf19;
    -webkit-filter: drop-shadow(0px 0px 7px rgba(255, 0, 0, 0.8));
            filter: drop-shadow(0px 0px 7px rgba(255, 0, 0, 0.8));
  }
  .new-nav {
    background-color: white;
    -webkit-transition: 0.1s all ease;
    transition: 0.1s all ease;
  }
  .new-opacity {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 100%;
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
  }
  .mobile_nav {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
    display: block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0%;
    -webkit-box-shadow: 0px 100px 60px -24px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 100px 60px -24px rgba(0, 0, 0, 0.1);
    z-index: 99;
    background-color: white;
    display: block !important;
  }
  .mobile_nav__container {
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile_nav__container .mobile__menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile_nav__container .mobile__menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile_nav__container .mobile__menu__list__items {
    padding: 6vw 0vw;
  }
  .mobile_nav__container .mobile__menu__list__items a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.8rem;
  }
  .mobile_nav__container .mobile__menu__list__items a:hover {
    color: gray;
  }
}
/*# sourceMappingURL=main.css.map */