@font-face {
  font-family: "futura-bold";
  src: url("../../fonts/Futura-Bold.otf");
}
@font-face {
  font-family: "futura-medium";
  src: url("../../fonts/Futura-Medium.otf");
}

@font-face {
  font-family: "futura-condensed";
  src: url("../../fonts/Futura-CondensedLight.otf");
}
