$futura-bold: "futura-bold";

$futura-medium: "futura-medium";

$futura-condensed: "futura-condensed";

$futura-new-medium: "futura-new-medium";

.futura-bold-font {
  font-family: $futura-bold;
}

.futura-medium-font {
  font-family: $futura-medium;
}

.futura-condensed-font {
  font-family: $futura-condensed;
}

.futura-new-medium {
  font-family: $futura-new-medium;
}
