.hero {
  &__container {
    // background-color: gray;
    // width: 100%;
    height: 100vh;
    // max-width: 191rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // padding: 0 2.3vw;
  }
  .hero_picture {
    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: 1s all ease;

    z-index: 20;

    .carousel_slide {
      // display: flex;
      width: 100%;
      height: 100%;
      background: no-repeat url("/../../pictures/six.png");
      background-size: cover;
      background-position: center;
      object-fit: cover;
      transition: 0.8s all ease;
    }
  }

  .hero_about {
    // width: 100%;
    // height: 100%;
    background: no-repeat url("/../../pictures/background.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &__container {
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-rows: 1fr 1fr auto;
      align-items: center;
    }
    .home_address {
      display: flex;
      justify-content: flex-end;
      margin-top: 4vw;

      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        justify-content: center;
        // margin-right: -2vw;
      }
      .heading {
        width: 100%;
      }
      .paragraph {
        opacity: 40%;
        margin-top: 1.5vw;
        p {
          width: 67%;
        }
      }
    }

    .home_button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &__container {
        align-self: flex-end;
        position: relative;

        .select_floor {
          img {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 20%;
            width: 20%;
          }

          .btn {
            color: $white;
            width: 35rem;
            height: 100%;
            background: $light-orange;
            box-shadow: $select-btn-shadow;
            border-radius: 14px 14px 0px 0px;
            padding: 3rem;
            display: block;
            text-align: center;
            text-decoration: none;

            p {
              transform: translateX(10%);
            }

            //   &:hover {
            //     color: $light-orange;
            //     background-color: $white;
            //     box-shadow: initial;
            //   }
          }
        }
      }
    }
  }

  .home_carusel {
    overflow: hidden;
    z-index: 5;
    position: relative;

    height: 90%;

    &__container {
      transform: translateX(-55%);

      z-index: 3;

      padding: 1vw 1vw 1.3vw 0vw;
      overflow: hidden;
      width: calc(45% * 6);

      .carusel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        // width: 2535px;
        // width: 2600px;
        width: 100%;
        transition: 0.5s ease-in-out;
        //  padding: 0rem 1rem 0rem 1rem;
        .carusel_div {
          position: relative;

          margin-right: 2rem;
          // background-color: white;
          border-radius: 10px;

          height: 10vw;

          width: 17vw;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            position: absolute;
            border-radius: 10px;
            padding: 0.4rem;
            object-fit: cover;
          }
        }
      }
    }

    .blur {
      position: absolute;
      top: 0;
      transform: translateY(8%);
      filter: blur(4px);
      filter: contrast(53px);
      opacity: 0.5;
      opacity: 0.3;
      z-index: -1;
    }

    .about_room {
      width: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      // position: absolute;
      z-index: -1;
      height: 100%;
      position: relative;

      .container {
        background-color: white;
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
        box-shadow: 0px 25px 60px -20px rgba(0, 0, 0, 0.2);
        width: 45%;
        border-radius: 14px;
        height: 7.4vw;
        position: absolute;

        left: 13.5vw;

        top: -4vw;

        .paragraph {
          .display_none {
            display: none;
          }
          .display_block {
            display: block !important;
            transform: translateX(10%);
          }

          ul {
            display: flex;
            width: 100%;
            flex-direction: row;
            // height: 100%;
            overflow: hidden;

            transform: translateX(0%);

            li {
              list-style-type: none;
              // width: 100%;
              height: 100%;
              margin-right: 1vw;
              // display: block;
            }
          }
        }

        .btn {
          display: flex;
          align-items: center;
          .prev,
          .next {
            img {
              cursor: pointer;
              width: 3.5rem;
              //  z-index: 9;
            }
          }

          .next,
          .prev {
            cursor: pointer;
            // margin-left: -3rem;
            z-index: 9;
          }
        }
      }
    }
  }
}

.flex {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
}

.after-clicked {
  transform: translateX(-50%);
  transition: 0.8s all ease;
  z-index: 20;
  background-size: contain !important;
}

.removed_nav {
  display: none !important;
  transition: all 0.5 ease;
}

.btn_opacity {
  opacity: 50% !important;
}

.body-overflow {
  overflow: hidden;
}

.color_radius {
  background-color: red;
  border-radius: 15px !important;
}

main {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    // margin-top: 20rem;
  }
  .building_section {
    position: relative;
    width: 100%;
    height: 100%;
    &__model {
      width: 100%;
      height: 100%;
      background: no-repeat url("/../../pictures/building.png");
      background-size: cover;
      background-position: center;
      object-fit: cover;
    }

    &__btn {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 18%;
      left: 9%;
      width: 7rem;
      height: 7rem;
      background-color: white;
      border-radius: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -8px -8px 24px rgba(255, 255, 255, 0.94),
        8px 8px 20px rgba(0, 0, 0, 0.22);
      cursor: pointer;
    }
  }
  .work_section {
    display: grid;
    grid-template-rows: 2fr 1fr;

    .introduction {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &:after {
        content: "";
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;
        height: 100%;
        background: no-repeat url("/../../pictures/circle.png");
        background-size: cover;
        background-position: center;
        object-fit: cover;
        top: 39%;
        left: 50%;
        z-index: -1;
      }
    }

    &__container {
      width: 70%;

      .paragraph {
        margin-top: 2vw;
      }
    }

    &__gif {
      background-color: #ffa800;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .video {
        background: url("/../../pictures/comp-1.gif");
        background-size: cover;
        background-position: center;
        object-fit: cover;
        width: 50%;
        height: 80%;
      }
    }
  }
}
