.hero {
  // width: 100%;
  // height: 100%;
  // background: no-repeat url("./../../pictures/background.png");
  // background-size: cover;
  // background-position: center;
  &__container {
    // background-color: gray;
    width: 100%;
    height: 100vh;
    max-width: 191rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // padding: 0 2.3vw;
  }
  .hero_picture {
    width: 100%;
    height: 100%;
    background: no-repeat url("./../../pictures/main-pic.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 1s all ease;
  }

  .hero_about {
    width: 100%;
    width: 100%;
    height: 100%;
    background: no-repeat url("./../../pictures/background.png");
    background-size: cover;
    background-position: center;

    &__container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr 0.5fr;
      align-items: center;
    }
    .home_address {
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;

      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        justify-content: center;
      }
      .heading {
        width: 100%;
      }
      .paragraph {
        opacity: 40%;

        margin-top: 1.5vw;
        p {
          width: 67%;
        }
      }
    }

    .home_button {
      &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10.5rem;
        a {
          color: $white;
          width: 35rem;
          height: 100%;
          background: $light-orange;
          box-shadow: $select-btn-shadow;
          border-radius: 14px 14px 0px 0px;
          padding: 3rem;
          display: block;
          text-align: center;
          text-decoration: none;

          //   &:hover {
          //     color: $light-orange;
          //     background-color: $white;
          //     box-shadow: initial;
          //   }
        }
      }
    }
  }

  .home_carusel {
    // overflow: hidden
    margin-top: 11vw;
    position: relative;
    width: 50vw;

    &__container {
      transform: translateX(-70%);
      // width: 225rem;

      top: -12vw;
      // z-index: 2;
      // padding: 2rem 2rem 6rem 0;
      overflow: hidden;
      width: calc(44% * 6);
      position: absolute;

      left: 6vw;
      .carusel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 2535px;
        // width: 2600px;

        //  padding: 0rem 1rem 0rem 1rem;
        div {
          position: relative;

          margin-right: 2rem;
          background-color: white;
          border-radius: 14px;

          height: 13vw;
          width: 19vw;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            position: absolute;
            border-radius: 10px;
            padding: 0.4rem;
          }
        }
      }
    }

    .blur {
      position: absolute;
      top: 0;
      transform: translateY(8%);

      filter: blur(25px);
      opacity: 0.3;
      z-index: -1;
    }

    .about_room {
      width: 100%;

      // background-color: gray;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      // position: absolute;
      z-index: -1;

      // margin-top: -2rem;

      // position: absolute;

      height: 12rem;
      top: 73%;
      // left: 1.5vw;
      z-index: -1;
      height: 8rem;
      // margin-top: -5rem;

      .container {
        background-color: white;
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
        box-shadow: 0px 25px 60px -20px rgba(0, 0, 0, 0.2);
        width: 50%;
        border-radius: 5px;
        height: 13rem;

        .prev,
        .next {
          img {
            cursor: pointer;
            width: 3.5rem;
          }
        }

        .next {
          cursor: pointer;
          margin-left: -4vw;
        }
      }
    }
  }
}

.flex {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.after-clicked {
  transform: translateX(-50%) scaleX(1) scaleY(0.9);
  transition: 0.8s all ease;
  // width: 80% !important;
  // height: 80% !important;
}

.remode_nav {
  display: none !important;
  transition: all 0.5 ease;
}

/* main.css | http://127.0.0.1:5500/scss/main.css */

// .hero .home_carusel .blur {
//   /* opacity: 0.3; */
//   /* z-index: -1; */
//   opacity: 0.8;
//   z-index: 1;
//   z-index: 1 !important;
// }

// .hero .home_carusel__container .carusel div img {
//   z-index: 2;
// }

// .hero .home_carusel .about_room {
//   /* z-index: -1; */
//   z-index: 0;
// }

// .hero .home_carusel {
//   padding: 2rem 6rem 2rem;
// }
