$nav-height: 9rem;
$nav-paddings: 0 2.3vw;

.navigation {
  // background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: $nav-height;
  padding: $nav-paddings;
  //   box-shadow: 0px 20px 60px -24px rgba(0, 0, 0, 0.4);
  z-index: 99;
  position: fixed;
  top: 0;
  transition: 0.2s all ease-in;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: $max-width;
  }

  &__logo {
    display: inline-block;

    &__property {
      width: 90%;
      height: 100%;
    }
  }
  .logo_small {
    display: none;
  }

  &__menu {
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;

    &__list {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &__items {
        cursor: pointer;

        a {
          display: inline-block;
          text-decoration: none;
          // font-family: "paragraph-regular";
          font-size: 1.6rem;
          color: $white;
          font-weight: 600;
          transition: all 0.2s;

          &:hover {
            color: $hover-on-nav;
            transform: translateY(-5px);
          }
        }
      }
    }
  }

  .mobile_nav {
    display: none;
  }
  .new-opacity {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

.nav-scrolled {
  background-color: white;
  transition: 0.2s all ease-in;
  box-shadow: $box-shadow-for-navigation;
  a {
    color: black;
  }
}

@media only screen and (max-width: 750px) {
  // .navigation {
  //   background-color: white;
  // }
  .navigation__menu {
    display: none;
  }
  .hamburger {
    display: block !important;
    width: 4rem;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .active-burger {
    svg {
      path {
        stroke: #fdaf19;
        filter: drop-shadow(0px 0px 7px rgba(255, 0, 0, 0.8));
      }
    }
  }
  .new-nav {
    background-color: white;
    transition: 0.5s all ease;
  }
  .new-opacity {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: all 0.5s ease;
    width: 100%;
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
  }

  .mobile_nav {
    box-shadow: 0px 100px 60px -24px rgba(0, 0, 0, 0.3);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
    display: block;
    transition: all 0.5s ease;
    width: 100%;
    // opacity: 1;
    position: absolute;
    top: 100%;
    right: 0%;

    z-index: 99;
    background-color: white;

    display: block !important;

    &__container {
      width: 100%;

      background-color: white;
      display: flex;

      align-items: center;
      flex-direction: column;

      .mobile__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__list {
          flex-direction: column;
          box-shadow: $box-shadow-for-navigation;
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          &__items {
            padding: 6vw 0vw;
            a {
              text-decoration: none;
              // font-family: "paragraph-regular";
              // font-size: 1.6rem;
              color: black;
              font-weight: 600;
              font-size: 1.8rem;

              &:hover {
                color: gray;
              }
            }
          }
        }
      }
    }
  }
}
