@media only screen and (max-width: 1500px) {
  .home_button {
    align-self: self-end;
    height: initial;
    .select_floor {
      .btn {
        width: 25vw !important;
        padding: 2vw 0.5vw !important;
      }
    }
  }
  .about_room {
    .container {
      width: 55% !important;
      left: initial !important;
    }
  }

  .hero .hero_about .home_address__container {
    width: 80%;
  }
  .hero {
    .home_carusel {
      &__container {
        width: calc(46.3% * 6) !important;
      }
    }
  }

  .about_apartaments {
    &__container {
      div {
        letter-spacing: initial !important;
      }
    }
  }
  .bedroom {
    .picture {
      margin-left: 1.5vw;
      // padding: 2.5vw 0vw 0vw 0vw;
      padding: initial !important;
      img {
        width: 95% !important;
        // height: 85% !important;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .navigation {
    padding: $padding !important;

    .navigation__logo__property {
      width: 70% !important;
    }

    &__menu {
      width: 55% !important;
    }
  }

  .hero {
    .about_room {
      .container {
        width: 100% !important;
        left: initial !important;
        top: 0vw !important;
      }
    }
    &__container {
      height: initial;
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr;
    }

    .hero_picture {
      grid-row: 1/2;
    }

    .hero_about {
      &__container {
        grid-template-rows: 1fr 1fr auto;
      }

      .btn {
        // width: 30rem !important;
        // padding: 2.5rem !important;
      }
      .home_button {
        align-self: self-end;
        height: initial;
        .select_floor {
          .btn {
            width: 25rem !important;
            padding: 3rem 0rem 2rem 0rem !important;
          }
        }
      }
      .home_address {
        &__container {
          width: 100%;
          // margin-top: 8.5rem;
          margin: initial;
        }
        margin: initial;
        padding: $padding;
        .paragraph {
          width: 100%;
          p {
            width: 82%;
          }
        }
      }
    }

    .home_carusel {
      overflow: hidden;
      width: initial;
      // height: 100%;
      .about_room {
        .container {
          width: 100%;
          // top: initial;
          left: initial;
        }
      }
      &__container {
        transform: translateX(-61%);

        // top: -29vw;
        padding: 2rem 2rem 6rem 0;

        .carusel {
          height: 100%;
          // display: none;
          div {
            height: 25vw !important;
            width: 40.5vw !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  main {
    .container {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: initial;

      .building_section__btn {
        display: none;
      }

      .work_section {
        grid-template-rows: 1fr 1fr;
        &__container {
          padding: 0 4vw !important;
          width: initial;
        }

        &__gif {
          .video {
            width: 40%;
          }
        }
      }
    }
  }
}
