@media only screen and (max-width: 1500px) {
  .about_room {
    .container {
      width: 40rem !important;
      left: initial !important;
    }
  }

  .hero .hero_about .home_address__container {
    width: 80%;
  }
}

@media only screen and (max-width: 950px) {
  .navigation {
    padding: $padding !important;

    .navigation__logo__property {
      width: 70% !important;
    }

    &__menu {
      width: 55% !important;
    }
  }

  .hero {
    &__container {
      height: initial;
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr;
    }

    .hero_picture {
      grid-row: 1/2;
    }

    .hero_about {
      &__container {
        grid-template-rows: 1fr 1fr auto;
      }

      .btn {
        width: 30rem !important;
        padding: 2.5rem !important;
      }
      .home_button {
        align-self: self-end;
        height: initial;
      }
      .home_address {
        &__container {
          width: 100%;
          // margin-top: 8.5rem;
          margin: initial;
        }
        margin: initial;
        padding: $padding;
        .paragraph {
          width: 100%;
          p {
            width: 82%;
          }
        }
      }
    }

    .home_carusel {
      overflow: hidden;
      width: initial;
      // height: 100%;
      .about_room {
        .container {
          width: 100%;
          top: -8rem;
          left: initial;
        }
      }
      &__container {
        transform: translateX(-61%);

        // top: -29vw;
        padding: 2rem 2rem 6rem 0;

        .carusel {
          height: 100%;
          // display: none;
          div {
            height: 25vw !important;
            width: 40.5vw !important;
          }
        }
      }
    }
  }
}
