@mixin flex {
  display: flex;
  align-content: center;
  align-items: center;
}

@mixin backgroundProperty {
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

@mixin flex-template-for-footer {
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  align-items: center;
}