$light-orange: #ffa800;
$dark-orange: #ff7a00;
$dark: #000000;

///SECONDARY
$white: #ffff;

$max-width-in-percentage: 92%;
$max-width: 185rem;
$max-width-in-view-height: 88vw;
$max-width-in-pixels: 1750px;
$max-width-for-blog-section: 1250px;

$padding: 0 4.3vw;

$moble-padding: 0 7.3vw;
$margin: 25rem 0rem 25rem 0rem;
$hover-on-nav: #151f28bd;
