$light-orange: #ffa800;
$dark-orange: #ff7a00;
$dark: #000000;

///SECONDARY
$white: #ffff;

$max-width-in-percentage: 92%;
// $max-width: 185rem;
$max-width-in-view-height: 88vw;
$max-width-in-pixels: 1750px;
$max-width-for-blog-section: 1250px;

$padding: 0 4vw;

$margin: 25rem 0rem 25rem 0rem;
$hover-on-nav: #151f28bd;

$select-btn-shadow: 0px -15px 40px rgba(255, 168, 0, 0.2);
$box-shadow-for-cards: 0px 15px 35px rgba(0, 0, 0, 0.25);
$box-shadow-for-navigation: 0px 20px 60px -24px rgba(0, 0, 0, 0.3);
$border-radius: 14px;